@import "./fonts.scss";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(325deg, rgba(2, 0, 36, 1) 0%, rgba(18, 66, 141, 1) 13%, rgba(0, 212, 255, 0.03823536250437676) 39%);
  font-family: "Open Sans Regular", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 60%;
  margin: 30px auto;
}

.button-container {
  margin: 12px 0;

  .button {
    margin-right: 12px;
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.item {
  width: 300px;
  margin: 5px 0;
  padding: 5px 10px;
}
